APP_BASE_URL=http://localhost:8000
STORAGE_DIR=storage
SD_BASE_URL=http://127.0.0.1:7860
SD_TIMEOUT_SECONDS=120
GOOGLE_TTS_CREDENTIALS_JSON=
DEFAULT_VOICE_NAME=en-US-Neural2-C
DEFAULT_VOICE_LANGUAGE_CODE=en-US
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
